<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.cthorne.kioku" >


<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_rounded_beta"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <activity
            android:name=".LoaderActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="false">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="false">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="false">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".languages.AddLanguagesActivity"
            android:label="@string/title_activity_add_language"
            android:noHistory="true"
            android:exported="false">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".infosources.SourcesActivity"
            android:label="@string/title_word_information_sources_settings"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        <activity
            android:name=".settings.LanguageSettingsActivity"
            android:label="@string/title_activity_language_settings"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>

        <activity
            android:name=".infosources.AddSourcesActivity"
            android:label="Add sources"
            android:launchMode="singleTask"
            android:exported="false">
        </activity>
        <activity
            android:name=".infosources.EditSourceActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infosources.AddSourcesActivity" />
        </activity>

        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_word_search"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudyActivity"
            android:label="Study"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WordBrowseActivity"
            android:label="@string/title_activity_word_browse"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_word_search_results"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".WordViewActivity"
            android:label="@string/title_activity_word_view"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="Statistics"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".test.WordInformationTestActivity"
            android:label="@string/title_activity_word_information_test"
            android:launchMode="singleTask"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudyActivity" />
        </activity>

        <receiver android:name=".reminder.ReminderNotificationBootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".reminder.ReminderNotificationTimerReceiver" android:enabled="true" android:exported="false">
        </receiver>

        <service android:name=".reminder.ReminderNotificationTimerService" android:exported="false"/>

        <!-- Auth service -->
        <service
            android:name="me.cthorne.kioku.auth.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!--
        Because android:exported is set to "false",
        the service is only available to this app.
        -->
        <service
            android:name=".sync.SyncIntentService"
            android:exported="false"/>

        <provider
            android:name=".provider.StubProvider"
            android:authorities="me.cthorne.kioku.provider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
